04_WC_list.csv
.vscode/
00_algorithm_data_flow.xlsx
00_literature/
01_changeOver_families.csv
02 Changeovers times, new matrix.xlsx
02_ChangeoversTimeMatrix.csv
03_co_setup_alternative.xlsx
04_check.xlsx
04_check2.xlsx
90_populationHistory.txt
91_fitnessRuns.txt
99_Output/
__pycache__/
archive/
~$03_co_setup_alternative.xlsx
